.section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
}
.name {
    background-color: #ff7043; 
}
.video {
    background-color: #42a5f5; 
}
.image {
    background-color: #66bb6a; 
}
.audio{
    background-color: #ffd54f;
}

